.attribution { font-size: 11px; text-align: center; margin-top: 100px;}
.attribution a { color: hsl(228, 45%, 44%); }

* {
  padding: 0;
  margin: 0;
}


body {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: hsl(218, 23%, 16%);
  text-align: center;
  font-size: 28px;
  color: hsl(193, 38%, 86%);
  font-family: 'Manrope', sans-serif;
}

.advice-card {
  width: 25%;
  min-width: 384px;
  background: hsl(217, 19%, 24%);
  padding: 20px 20px 0 20px;
  border-radius: 1rem;
}

.header {
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 2px;
  color: hsl(150, 100%, 66%);
}

.advice-text {
  margin: 1rem auto;
}

.pattern-div-desktop {
  width: 100%;
}

.pattern-div-mobile {
  display: none;
}

.icon-div-container {
  --box-shadow: .1px .1px 40px hsl(150, 100%, 66%), -.1px .1px 40px hsl(150, 100%, 66%), .1px -.1px 40px hsl(150, 100%, 66%), -.1px -.1px 40px hsl(150, 100%, 66%);
  box-sizing: border-box;
  display: flex;
  width: 60px;
  height: 60px;
  padding: calc((60px - 24px)/ 2);
  margin: 0 auto;
  transform: translateY(50%);
  background: hsl(150, 100%, 66%);
  border-radius: 100%;
}

.icon-div-container.active {
  box-shadow: var(--box-shadow);
  -webkit-animation: spin .1s linear infinite;
  -moz-animation: spin .1s linear infinite;
  animation: spin .1s linear infinite;
}

.icon-div-container:hover {
  box-shadow: var(--box-shadow);
}

@keyframes spin {
  100% {
    transform: translateY(50%) rotate(360deg);
  }
};

@media (max-height: 600px) {
  body {
    padding: 50px 0;
  }
}

@media (max-width: 700px) {

  body {
    font-size: 16px;
  }

  .advice-card {
    min-width: 295px;
  }

  .pattern-div-desktop {
    display: none;
  }

  .pattern-div-mobile {
    display: block;
    margin: 0 auto;
  }
}
